#{extends 'main.html' /}
#{set title:'Home' /}

<div class="page content homepage">

<div class="box wishlist">

<h1>Wishlist</h1>

<span class="controls">
    <a accesskey="A" class="addNew" href="@{Application.itemForm}" title="add new">add</a>
    #{if archivedItems}
        <a href="@{Application.index}" class="showAll" title="hide archived">hide archived</a>
    #{/if}
    #{else}
        <a href="@{Application.index('all')}" class="showAll" title="show archived">show archived</a>
    #{/else}
</span>

<ul>
#{list items:items, as:'i'}

    <li>
        #{if i.url != null }
            <a href="${i.url}">${i.fullname}</a> <a href="@{Application.itemForm(i.name)}" class="edit">edit</a>
        #{/if}
        #{else}
            ${i.fullname}
        #{/else}
    </li>
    
#{/list}
</ul>

</div>

<div class="box tags">

<ul>
#{list items:tags, as:'t'}

    <li><a href="@{Application.listByTag(t.name)}">${t.displayname}</a></li>

#{/list}
</ul>

</div>

#{if archivedItems}
<div class="box wishlist archivedList">

<h2>Archived</h2>

<ul>
#{list items:archivedItems, as:'i'}

    <li class="archived">
        #{if i.url != null }
            <a href="${i.url}">${i.fullname}</a> <a href="@{Application.itemForm(i.name)}" class="edit">edit</a>
        #{/if}
        #{else}
            ${i.fullname}
        #{/else}
    </li>
    
#{/list}
</ul>

</div>
#{/if}


</div>
