#{extends 'main.html' /}
#{set title:'By Tag' /}

<div class="page content">

<div class="box listbytag">

<h1>${t.displayname}</h1>

<span class="controls">
    <a href="/" class="back">back</a>
    #{if archivedItems}
        <a href="@{Application.listByTag(t.name)}" class="showAll" title="hide archived">hide archived</a>
    #{/if}
    #{else}
        <a href="@{Application.listByTag(t.name, 'all')}" class="showAll" title="show archived">show archived</a>
    #{/else}
</span>

<ul>
#{list items:items, as:'i'}

    <li>
        <a href="@{Application.itemForm(i.name)}">${i.fullname}</a>
    </li>
    
#{/list}
</ul>

</div>

#{if archivedItems}
<div class="box listbytag archivedList">

<h2>Archived</h2>

<ul>
#{list items:archivedItems, as:'i'}

    <li class="archived">
        <a href="@{Application.itemForm(i.name)}">${i.fullname}</a>
    </li>
    
#{/list}
</ul>

</div>
#{/if}


</div>
